[Desktop Entry]
Name=MarvaDesk
NoDisplay=true
MimeType=x-scheme-handler/marvadesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
